.button{
    font: inherit;
    color: aliceblue;
    background: crimson;
    border-color: crimson;
    border-radius: 13px;
    padding: 0.25rem 1rem;
    margin: 5px;
}

.button:hover{
    background: #741188;
    border-color: #741188;
}
.button:active{

    background: rgba(214, 177, 82, 0.733);
}